<div id="container">
<h2><%= markdown(@article.title) %></h2>

<p><%= markdown(@article.content) %><p>

<p>Tags: <%= @article.tags %></p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <%= render @article.comments %>
<% end %>

<h2>Add a comment:</h2>

<%= render 'comments/form' %>

<%= link_to "Back", articles_path %> 
<% if admin_signed_in? %>
	<% if current_admin.administration? %>
	 | <%= link_to "New", new_article_path %> | 
	 <%= link_to "Edit", edit_article_path(@article) %> | 
	<%= link_to "Delete", article_path(@article),
		method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>
	</div>